.bg-register{
    background:url("../assets/leavesndirt.jpg") no-repeat;
    position:fixed;
}
.register{
    background: rgba(255, 255, 255);
    display:flex;
    flex-direction:column;
    text-align:center;
    border-style:solid;
    border-color: #8e8e9c;
    border-width:0.05rem;
    border-radius:2rem;
    padding:1.5rem;

}
.register label{
    font-size:1.7rem;
}

.reg-input {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap:0.5rem;
}